{
  "presets": [
    "@babel/preset-env"
    // "@babel/stage-0"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "transform-react-jsx",
    "@babel/plugin-transform-runtime"
  ]
}
